#heard-button{
    display: flex;
    justify-content: flex-end;
}

#heard_link a{
    /* margin-right: 2px; */
    padding-right: 20px;
    border-right: 1px solid;
}


#heard_link a:last-child{
    /* margin-right: 2px; */
    border-right: none;
}
#heard_menu{
    height: 34px;
    border: 1px solid;
    display: flex;
    align-items: center;
    padding-left: 10px;

}
#heard_menu a{
    line-height:15px;
    text-transform: uppercase;
    border-right: 2px solid ;
    padding-left: 10px; 
    padding-right: 10px;
}
#heard_menu a:last-child{
    border-right: none;
}